{% extends 'teacher/teacherbase.html' %}


{% block content %}
<div style="margin-top: 5%;margin-bottom: 10%;margin-left: 10%;">
  <h2>{{ course.name }}</h2>
  <p><strong>Code:</strong> {{ course.course_id }}</p> 
  <p><strong>Description:</strong> {{ course.description }}</p>
  <hr>
  <h4>Subjects:</h4>
  {% if course.subject_set.all %}
    <ul>
      {% for subject in course.subject_set.all %}
        <li><a href="{% url 'subject_detail' subject.id %}">{{ subject.name }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No subjects found for this course.</p>
  {% endif %}
  <button><a href="{% url 'course_edit' pk=pk %}">Edit</a></button>
  <button><a href="{% url 'course_delete' pk=pk %}">Delete</a></button>
</div>
{% endblock %}
