{% extends 'teacher/teacherbase.html' %}

{% block content %}
<div class="container mx-auto px-4" style="align-items: center;margin-top: 4%;margin-bottom: 10%;">
  <h1 class="text-2xl font-bold mb-4">Edit {{ course.name }}</h1>
  <form method="post">
    {% csrf_token %}
    <div class="mb-4">
      <label for="course" class="block font-bold mb-1">Course Name</label>
      <input type="text" id="course" name="name" placeholder="Course Name" value="{{ course.name }}" readonly
        class="w-full px-4 py-2 border border-gray-300 rounded">
    </div>
    <div class="mb-4">
      <label for="description" class="block font-bold mb-1">Course Description</label>
      <input type="text" id="description" name="description" placeholder="Course Description" value="{{ course.description }}"
        class="w-full px-4 py-2 border border-gray-300 rounded">
    </div>
    <div class="mb-4">
      <label for="semester" class="block font-bold mb-1">Semester</label>
      <input type="text" id="semester" name="semester" placeholder="Semester" value="{{ course.semester }}"
        class="w-full px-4 py-2 border border-gray-300 rounded">
    </div>
    <div class="mb-4">
      <label for="course_id" class="block font-bold mb-1">Course ID</label>
      <input type="text" id="course_id" name="course_id" placeholder="Course ID" value="{{ course.course_id }}" readonly
        class="w-full px-4 py-2 border border-gray-300 rounded">
    </div>
    <button type="submit" style="background-color: green;"
      class="bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded">Save</button>
  </form>
</div>
{% endblock %}

