{% extends 'student/adminbase.html' %}

{% block content %}
<div>
  <label for="department">Department:</label>
  <select id="department" onchange="filterTable()">
    <option value="">All Departments</option>
    {% for dept in departments %}
      <option value="{{ dept }}">{{ dept }}</option>
    {% endfor %}
  </select>

  <label for="joined_year">Joined Year:</label>
  <select id="joined_year" onchange="filterTable()">
    <option value="">All Joined Years</option>
    {% for year in joined_years %}
      <option value="{{ year }}">{{ year }}</option>
    {% endfor %}
  </select>

  <label for="search">Search:</label>
  <input type="text" id="search" oninput="filterTable()" placeholder="Search...">
</div>

<div>
  {% if departments %}
    {% for dept in departments %}
      <div class="card-container">
        <h2>{{ dept }}</h2>
        <div class="table-container">
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Joined Year</th>
                <th>Role No</th>
                <th>Mobile</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for student in students %}
                {% if student.department == dept %}
                  <tr>
                    <td>{{ student.get_name }}</td>
                    <td class="joined_year">{{ student.joinned_year|date:"Y" }}</td>
                    <td>{{ student.role_no }}</td>
                    <td>{{ student.mobile }}</td>
                    <td>
                      <a class="btn btn-light btn-xs" href="students/{{ student.id }}">View</a>
                      <a class="btn btn-success btn-xs" href="student/{{ student.id }}/edit">Edit</a>
                      <a class="btn btn-danger btn-xs" href="students_delete/{{ student.id }}/delete">Delete</a>
                    </td>
                  </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <div class="empty-message" style="display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    align-content: center;
    flex-direction: column;
    height: 100%;">
      <p>Department and students are not registered.</p>
    </div>
  {% endif %}
</div>

{% if not departments or not students %}
  <div class="empty-message" style="display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  align-content: center;
  flex-direction: column;
  height: 100%;">
    <p>No students found.</p>
  </div>
{% endif %}

</body>
<script>
  function filterTable() {
    var departmentFilter = document.getElementById("department").value;
    var joinedYearFilter = document.getElementById("joined_year").value;
    var searchFilter = document.getElementById("search").value.toLowerCase();

    var rows = document.getElementsByTagName("tr");

    for (var i = 0; i < rows.length; i++) {
      var row = rows[i];
      var departmentCell = row.getElementsByClassName("department")[0];
      var joinedYearCell = row.getElementsByClassName("joined_year")[0];
      var nameCell = row.getElementsByTagName("td")[0];

      var showRow = true;
      if (departmentFilter && departmentCell.innerHTML !== departmentFilter) {
        showRow = false;
      }

      if (joinedYearFilter && joinedYearCell.innerHTML !== joinedYearFilter) {
        showRow = false;
      }

      if (searchFilter && nameCell.innerHTML.toLowerCase().indexOf(searchFilter) === -1) {
        showRow = false;
      }

      if (showRow) {
        row.style.display = "";
      } else {
        row.style.display = "none";
      }
    }
  }
</script>
</html>
{% endblock %}
