{% extends 'student/studentbase.html' %}
{% block content %}
{%load static%}
<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Include Bootstrap CSS -->
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

<body>

  <div class="container mt-4" style="margin-bottom: 7%;">
    <div class="card bg-white shadow-lg" style="margin-bottom: 40%;">
      <div class="card-header bg-gray-100">
        <h6 class="card-title text-gray-700 mb-0 text-lg">Available Courses</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover table-bordered" id="dev-table">
            <thead>
              <tr>
                <th class="px-4 py-2 text-gray-600">Exam Name</th>
                <th class="px-4 py-2 text-gray-600">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for t in courses %}
              <tr>
                <td class="border px-4 py-2">{{ t.course_name }}</td>
                <td class="border px-4 py-2">
                  <a class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
                    href="{% url 'take-exam' t.id %}">
                    <span class="glyphicon glyphicon-check"></span> Attend Exam
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


</body>

</html>

{% endblock content %}