{% extends 'student/studentbase.html' %}

{% block content %}

{% load static %}

<div class="container my-4" >
  <div class="bg-black rounded-lg shadow-md p-6"style="margin-bottom: 10%;">

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

      <div class="bg-blue-500 text-black px-4 py-2 rounded-lg">
        <h4 class="font-semibold text-lg mb-2">Exam Details:</h4>
        <ul class="list-disc ml-5">
          <li>Course: {{ course.course_name }}</li>
          <li>Total Question: {{ total_questions }}</li>
          <li>Total Marks: {{ total_marks }}</li>
        </ul>
      </div>

      <div class="bg-blue-500 text-black px-4 py-2 rounded-lg">
        <h4 class="font-semibold text-lg mb-2">Rules:</h4>
        <ul class="list-disc ml-5">
          <li>All questions are MCQ (multiple choice question)</li>
          <li><span class="text-red-500">Only one choice is correct among the given.</span></li>
          <li>Every question carry different marks.</li>
          <li>Try to answer ASAP.</li>
          <li>If you PRESS refresh or go back to the previous page, there will be a new question for you and the question you were on will be counted as number of attempts.</li>
          <li>Questions are presented randomly.</li>
          <li>You will be able to view marks immediately once after you submit the answer.</li>
        </ul>
      </div>

    </div>

    <div class="mt-6">
        <a href="{% url 'start-exam' course.id  %}" class="btn btn-success" style="border-radius:0px;">Enter Examination</a>
    </div>

    <div class="mt-6 text-sm text-gray-600">
      Best of luck, students!
    </div>

  </div>
</div>

{% endblock content %}
