{% extends 'teacher/teacherbase.html' %}

{% block content %}


<style>
.card-container {
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  margin-top: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 10%;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  line-height: 1.5;
  transition: border-color 0.2s ease-in-out;
}

input[type="text"]:focus,
textarea:focus {
  outline: none;
  border-color: #007bff;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #0062cc;
}
@media(min-width:680px){
  .btn-primary{
    margin-bottom: 15%;
  }

}
</style>
<div class="card-container">
    <h1>Edit Classroom</h1>
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="class_name">Class Name:</label>
        <input type="text" name="class_name" required value="{{ classroom.class_name }}">
      </div>
      <div class="form-group">
        <label for="subject_code">Subject Code:<span style="color: gray;">(Readonly)</span></label>
        <input type="text" name="subject_code" required readonly value="{{ classroom.subject_code }}">
      </div>
      <div class="form-group">
        <label for="semester">Semester:</label>
        <select name="semester" required>
          <option value="" disabled selected>Select semester</option>
          <option value="1" {% if classroom.semester == 1 %}selected{% endif %}>1</option>
          <option value="2" {% if classroom.semester == 2 %}selected{% endif %}>2</option>
          <option value="3" {% if classroom.semester == 3 %}selected{% endif %}>3</option>
          <option value="4" {% if classroom.semester == 4 %}selected{% endif %}>4</option>
          <option value="5" {% if classroom.semester == 5 %}selected{% endif %}>5</option>
          <option value="6" {% if classroom.semester == 6 %}selected{% endif %}>6</option>
          <option value="7" {% if classroom.semester == 7 %}selected{% endif %}>7</option>
          <option value="8" {% if classroom.semester == 8 %}selected{% endif %}>8</option>
        </select>
      </div>
      <div class="form-group">
        <label for="department">Department:</label>
        <select class="form-control" required name="department">
          {% for i in dep %}
            <option value="{{ i.name }}">{{ i.name }}</option>
          {% endfor %}
        </select>
      </div> 
      <div class="form-group">
        <label for="image_url">Image URL:</label>
        <input type="text" name="image_url" required value="{{ classroom.class_image }}">
      </div>
      <div class="form-group">
        <label for="discription">Description:</label>
        <textarea name="discription">{{ classroom.discription }}</textarea>
      </div>
      <button type="submit" class="btn-primary">Save Changes</button>
    </form>
  </div>
  </html>
{% endblock content%}
