{% extends 'student/studentbase.html' %} {% block content %}

<style>
    
/*======================
    404 page
=======================*/


.page_404{ background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .four_zero_four_bg h3{
			 font-size:80px;
			 }
			 
			 .link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;}
	.contant_box_404{ margin-top:-50px;}
</style>

<link href=
"https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
          rel="stylesheet">

          <section class="page_404" style="margin-bottom: 100px;">
            <div class="container">
                <div class="row">	
                <div class="col-sm-12 ">
                <div class="col-sm-10 col-sm-offset-1  text-center">
                <div class="four_zero_four_bg">
                    <h1 class="text-center ">404</h1>
                
                
                </div>
                
                <div class="contant_box_404">
                <h3 class="h2">
                    The classes have not yet had any enrollment.
                </h3>
                
                <p>not available is the page you were looking for Please start the class Enroll now!</p>
                
                <a href="student_home#subscribe1" class="link_404">Enroll Now</a>
            </div>
                </div>
                </div>
                </div>
            </div>
        </section>

{% endblock content%}