<h2>Test Marks for {{ class_id }}</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Roll No</th>
            <th scope="col">Name</th>
            <th scope="col">Assessment No</th>
            <th scope="col">Subject</th>
            <th scope="col">Mark</th>
            <th scope="col">Date</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for i, mark in test_marks %}
        <tr>
            <th scope="row">{{ i }}</th>
            <td>{{ mark.roll_no }}</td>
            <td>{{ mark.student.user.first_name }} {{ mark.student.user.last_name }}</td>
            <td>{{ mark.assesment_no }}</td>
            <td>{{ mark.subject }}</td>
            <td>{{ mark.mark }}</td>
            <td>{{ mark.Date }}</td>
            <td><a
                    href="{% url 'edit_test_marks' class_id=mark.class_id sub=mark.subject ass_no=mark.assesment_no %}">Edit</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>