{% extends 'teacher/teacherbase.html' %}

{% block content %}
<head>
  <!-- <link href=
  "https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
            rel="stylesheet"> -->
            
</head>
<div class="flex justify-center" style="margin-top: 20px;margin-right: 30px;margin-left: 30px;">
  <div>
  <div class="bg-white shadow-md rounded-md p-4" style="margin-bottom: 100px;">
    <h1 class="text-2xl font-bold">Datas: {{ title }}</h1>
  
    <h3 class="text-lg">Subject: {{ data.subject }}</h3>
 
    <h3 class="text-lg">Class id: {{ data.class_id }}</h3>
 
    <h3 class="text-lg">Update by: {{ data.update_by }}</h3>
 
    <h3 class="text-lg">Date: {{ data.date }}</h3>
    
{% if mark %}
<div class="flex justify-center mt-4 " style="display: flex;
flex-direction: row-reverse;margin-top: -500px;" >
  <div class="bg-gray-200 shadow-md rounded-md p-5" style="border-radius: 60%;height: 100px;width: 100px;display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  align-items: stretch;">
    <h4 style="" class="text-lg">Mark: {{ mark.mark }}</h4>
  </div>
  <div class="flex justify-center mt-0 p-3"style="width: 100%"; >
    <div class="bg-gray-200 shadow-md rounded-md p-6"style="width: 100%;margin-left: 60px;margin-top: 30px;">
      <h4 class="text-lg">Details: {{ data.details }}</h4>
    </div>
  </div>
</div>
{% else %}
  </div>
</div>

  <div class="flex justify-center mt-4">
    <div class="bg-white shadow-md rounded-md p-6">
      <h4 class="text-lg">Marks are not updated</h4>
    </div>
  </div>
{% endif %}



{% if mark %}
  <div class="flex justify-center mt-4"> 
    <div class="bg-white shadow-md rounded-md p-6">
      <form method="POST" action="{% url 'edit_assignment_mark' id=mark.id a_id=state student_id=qst_id class_id=class_id %}">
        {% csrf_token %}
        <input type="number" name="mark" value="{{ mark.mark }}" required class="border rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
        <button style="background-color: blue;border-radius: 5px;border: none;" type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md ml-2">Edit Mark</button>
      </form>
    </div>
  </div>
{% else %}
  <div class="flex justify-center mt-4">
    <div class="bg-white shadow-md rounded-md p-6">
      <form method="POST" action="{% url 'assignment_mark' id=qst_id a_id=state student_id=std class_id=class_id %}">
        {% csrf_token %}
        <input type="number" name="mark" required class="border rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md ml-2">Update Mark</button>
      </form>
    </div>
  </div>
{% endif %}

<div class="flex justify-center mt-4">
  <div style="margin-bottom: 30px;" class="bg-white shadow-md rounded-md p-6">
    {% if file %}
      {% for i in file %}
        <a href="{{ i.File.url }}" class="text-blue-500">{{ i.File }}</a><br>
      {% endfor %}
    {% else %}
      <p>No files exist.</p>
    {% endif %}
  </div>
</div>
</div>

{% endblock content %}
