<!-- Create a form to add a new upload assignment -->
{% extends 'teacher/teacherbase.html' %}

{% block content %}

<h1>{{ title }}</h1>

<h3>Subject : {{ data.subject }}</h3>
<h3>Class id : {{ data.class_id }}</h3>
<h3>Update by : {{ data.update_by }}</h3>
<h3>Date : {{ data.date }}</h3>
{% if mark %}
  <h4>Mark : {{ mark.mark }}</h4>
{% else %}
  <h4>Mark are not updated</h4>
{% endif %}
<h4>{{ data.details }}</h4>

{% if mark %}
<form method="POST" action="{% url 'edit_assignment_mark' id=mark.id %}" >  
{% else %}
<form method="POST" action="{% url 'assignment_mark' id=qst_id a_id=state student_id=std class_id=class_id %}" >
{% endif %}
    {% csrf_token %}
    {% if mark %}
    <input type="number" name="mark" value="{{ mark.mark }}" required>
    <button type="submit">Edit mark</button>
    {% else %}
    <input type="number" name="mark" required>
    <button type="submit">update mark</button>
    {% endif %}
</form>

{% if file %}
  {% for i in file %}
    <a href="{{ i.File.url }} ">{{ i.File }} </a><br>
  {% endfor %}
{% else %}
  No files are exites
{% endif %}

{% endblock content %}

