{% extends 'teacher/teacherbase.html' %}

{% block content %}
<div class="bg-white rounded-lg shadow-lg p-6" style="margin: 20px;">
    <h1 class="text-2xl font-bold mb-4">Edit Teacher Information</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-4">
            <label for="first_name" class="block text-gray-700 font-bold mb-2">First Name:</label>
            <input type="text" id="first_name" name="first_name" value="{{ teacher.user.first_name }}" class="form-control border rounded px-4 py-2 w-full"
                required>
        </div>
        <div class="mb-4">
            <label for="last_name" class="block text-gray-700 font-bold mb-2">Last Name:</label>
            <input type="text" id="last_name" name="last_name" value="{{ teacher.user.last_name }}" class="form-control border rounded px-4 py-2 w-full"
                required>
        </div>
        <div class="mb-4" hidden>
            <label for="email" class="block text-gray-700 font-bold mb-2">Email:</label>
            <input type="email" id="email" name="email" value="{{ teacher.user.email }}" class="form-control border rounded px-4 py-2 w-full" >
        </div>
        <div class="mb-4">
            <label for="profile_pic" class="block text-gray-700 font-bold mb-2">Profile Picture:</label>
            <input type="file" id="profile_pic" name="profile_pic" accept="image/*" class="form-control border rounded px-4 py-2 w-full">
        </div>
        <div class="mb-4">
            <label for="address" class="block text-gray-700 font-bold mb-2">Address:</label>
            <input type="text" id="address" name="address" value="{{ teacher.address }}" class="form-control border rounded px-4 py-2 w-full" required>
        </div>
        <div class="mb-4">
            <label for="mobile" class="block text-gray-700 font-bold mb-2">Mobile Number:</label>
            <input type="tel" id="mobile" name="mobile" value="{{ teacher.mobile }}" class="form-control border rounded px-4 py-2 w-full" required>
        </div>
        <div class="mb-4">
            <label for="role" class="block text-gray-700 font-bold mb-2">Role:</label>
            <input type="text" id="role" name="role" value="{{ teacher.role }}" class="form-control border rounded px-4 py-2 w-full" readonly>
        </div>
        <div class="mb-4 "hidden>
            <label for="status" class="block text-gray-700 font-bold mb-2">Status:</label>
            <input type="checkbox" id="status" name="status" {% if teacher.status %}checked{% endif %}
                class="form-check-input">
        </div>
        

    <div class="form-group">
        <label for="department">Department:</label>
        <select class="form-control" name="department">
          {% for i in dep %}
            <option value="{{ i.name }}">{{ i.name }}</option>
          {% endfor %}
        </select>
    </div>

    <div class="form-group" hidden>
        <label for="salary">Salary:</label>
        <input type="number" id="salary" name="salary" value="{{ teacher.salary }}" class="form-control">
    </div>
    <div class="form-group">
        <label for="Annauni_num">Anna University Number:</label>
        <input type="text" id="Annauni_num" name="Annauni_num" value="{{ teacher.Annauni_num }}" class="form-control" readonly>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
{% endblock %}