{% extends 'student/studentbase.html' %}
{% block content %}
<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <title>Convert PDF to Word</title>
  <style>
    #card {

      width: 400px;
      height: 250px;
      background-color: #e1ebe4;
      border-radius: 10px;
      box-shadow: 0 0 20px rgba(14, 13, 13, 0.2);
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

    }

    #card1 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px;

    }

    h2 {
      font-size: 24px;
      margin-bottom: 50px;
    }
  </style>
</head>

<body>
  <a href="{% url 'toolHome' %}"> <button  style="margin-top: 60px;margin-left: 90px;border-radius: 5px;border-style: none; background-color: #007bff; color: #fff;" class="absolute  left-0 px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-700 focus:outline-none focus:bg-blue-700">Back </button></a> 

  <div id="card1" class="mt-8" >
    <div id="card" class="mx-auto max-w-md bg-gray-100 rounded-lg shadow-md p-6"style="margin-top: -10%;margin-bottom:90px">
      <h2 class="text-2xl font-bold mb-4">Convert PDF to Word</h2>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label class="text-base" for="pdf_file">Select a PDF file to convert:</label>
        <input type="file" name="pdf_file" accept=".pdf" class="block mt-2 mb-4">
        <button style="border-radius: 8px;" type="submit"
          class="bg-blue-500 text-black px-4 py-2 rounded-md">Convert</button>
      </form>
    </div>
  </div>

</body>

</html>

{% endblock content %}