{% extends 'teacher/teacherbase.html' %}

{% block content %}
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <!-- component -->
        <div
            style="    font-weight: bold;display: flex;font-size: 28px;align-content: center;justify-content: center;align-items: center;flex-direction: row;flex-wrap: wrap;">
            <h1 style="font-weight: bold;font-size: 28px;">Write Your Blog Here</h1>
        </div>
        <d class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                <div class="p-6 bg-white border-b border-gray-200">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="mb-4">
                            <label class="text-xl text-gray-600">Title <span class="text-red-500">*</span></label></br>
                            <input type="text" class="border-2 border-gray-300 p-2 w-full" name="title" id="title"
                                value="" required>
                        </div>

                        <div class="mb-4">
                            <label class="text-xl text-gray-600">Description<span class="text-red-500">*</span></label></br>
                            <input type="text" class="border-2 border-gray-300 p-2 w-full" name="description"
                                id="description" placeholder="">
                        </div>

                        <div class="mb-4">
                            <label class="text-xl text-gray-600">Thumbnail image<span class="text-red-500">*</span></label></br>
                            <input type="text" class="border-2 border-gray-300 p-2 w-full" name="Thumbnail"
                                id="Thumbnail" placeholder="Image url">
                        </div>

                        <div class="mb-4">
                            <label class="text-xl text-gray-600">Category<span class="text-red-500">*</span></label></br>
                            <input type="text" class="border-2 border-gray-300 p-2 w-full" name="Category" id="Category"
                                placeholder="">
                        </div>

                        <div class="mb-4">
                            <label class="text-xl text-gray-600">Type( Blog/Course )<span class="text-red-500">*</span></label></br>
                            <select class="border-2 border-gray-300 p-2 w-full" name="type_" id="type_"
                                placeholder="Type( Blog/Course )">
                                <option value="Blog">Blog</option>
                                <option value="Course">Course</option>
                            </select>
                        </div>

                        <div class="mb-8">
                            <label class="text-xl text-gray-600">Content <span
                                    class="text-red-500">*</span></label></br>
                            <textarea name="editor2" id="editor2" class="border-2 border-gray-500">

                                            </textarea>
                        </div>

                        <div class="flex p-1">
                            <select class="border-2 border-gray-300 border-r p-2" id="action" name="action">
                                <option value="Save Draft">Save Draft</option>
                                <option value="Save and Publish">Submit for Review</option>
                            </select>
                            <button 
                                onclick="img_upload('save_blog','#content',['#action','#type_','#title','#description','#Category','#Thumbnail'])"
                                class="p-3 bg-blue-500 text-white hover:bg-blue-400" required>Submit</button>
                        </div>
                    </form>
                </div>
            </div>

    </div>
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8" id="content2">
        <div style="    padding: 23px;" class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
            <p>The number of <code>change</code> events: <strong><span id="changes"></span></strong>.</p>
            <h3>Mirrored Content</h3>
            <hr style="    border-top-width: 1px; margin-top: 14px;">
            <div id="editorcontent2" class="p-6 bg-white border-b border-gray-200">
            </div>
        </div>
    </div>
    <!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>
{% endblock content %}

{% block script %}

<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
<script>

var changesCount = 0;
var editor2 = CKEDITOR.replace('editor2', {
  removePlugins: 'sourcearea',
  removeButtons: 'PasteFromWord'
});

editor2.on('change', function(ev) {
  changesCount++;
  document.getElementById('content2').style.display = '';
  document.getElementById('changes').innerHTML = changesCount.toString();
  document.getElementById('editorcontent2').innerHTML = editor2.getData();
});

function img_upload(url, con, datas) {
  var confirmation = confirm('Are you sure you want to submit the form?');
  if (confirmation) {
      event.preventDefault();
      console.log(datas, url);
      var data = new FormData();
      data.append(con, editor2.getData());
      data.append("csrfmiddlewaretoken", $("input[name=csrfmiddlewaretoken]").val());
      for (let i = 0; i < datas.length; i++) {
        data.append(datas[i], $(datas[i]).val());
      }

      $.ajax({
      method: "POST",
      url: url,
      processData: false,
      contentType: false,
      mimeType: "multipart/form-data",
      data: data,
      success: function(response) { 
        var parsedResponse = JSON.parse(response);
        console.log(parsedResponse.status);
        
        if (parsedResponse.status === "success") {
          console.log("Uploading done successfully");
          
          if (parsedResponse.message === "Blog published successfully") {
            // Redirect to the published blog page
            window.location.replace('blog_saved');
          } else if (parsedResponse.message === "Blog draft saved successfully") {
            // Redirect to the draft blog page
            window.location.replace("blog_draft_saved");
          }
          } else if (parsedResponse.status === "err") {
            // Redirect to the draft blog page
            alert(parsedResponse.message)
          } else {
            alert("SomeThing is worng...{-_-}")
          }
      },
      error: function() {
        console.log('Error occurred during the AJAX request');
      }
    });}
  else{
    alert("The Changes are not Saved...!")
  }  
}

</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://code.iconify.design/iconify-icon/1.0.3/iconify-icon.min.js"></script>
{% endblock script %}