{% extends 'teacher/teacherbase.html' %}

{% block content %}
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
<style>
    @import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body {
  margin: 0;
}

.button_container1 {
  position: absolute;
  left: 0;
  right: 0;
  top: 65%;
  display: flex;
  height: fit-content;
  margin-top: 10%;
}

.btn1 {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #222;
  padding: 10px 40px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
  margin-left: 20px;
}

.btn1 span {
  position: relative;
  z-index: 1;
}

.btn1:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #78c7d2;
  transition: all .5s ease-in-out;
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn1:hover:after {
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.link {
  font-size: 20px;
  margin-top: 30px;
}

.link a {
  color: #000;
  font-size: 25px; 
}
.p-6{
    margin-top: 10%;
}

/* Responsive Styles */
@media (max-width: 640px) {
  .button_container1 {
    flex-wrap: wrap;
    justify-content: center;
    height: 500px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 40%;
    align-content: center;
  }

  .btn1 {
    margin: 10px;
  }
  .p-6{
    margin-top: 80%;
  }
}
</style>
<div class="button_container1">
  <a href="{% url 'staff_list_blog_course' %}">
    <button class="btn1"><span>Courses</span></button>
  </a>
  <a href="{% url 'staff_list_blog' %}">
    <button class="btn1"><span>Blog</span></button>
  </a>
  <a href="{% url 'staff_create_blog' %}">
    <button class="btn1"><span>Create Blog</span></button>
  </a>
  <a href="{% url 'list_edit_blog' %}">
    <button class="btn1"><span>Manage Blog</span></button>
  </a>
  <a href="{% url 'staff_create_blog' %}">
    <button class="btn1"><span>Drafted Articles</span></button>
  </a>
</div>
         <br>   
<div class="p-6">
  {% for i in blogs %}
  <div style="display: flex; align-items: center; justify-content: center;">
    <h1 style="font-weight: bold; font-size: 28px;">{{ i.0.categories }}</h1>
    <hr style="margin-top: 10px; margin-bottom: 15px;">
  </div>
  <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3">
    {% for j in i %}
    <div class="overflow-hidden rounded-2xl bg-gray-50">
      <div class="flex items-center h-[180px] overflow-hidden">
        <img src="{{ j.blog_profile_img }}" alt="Hamburger" />
      </div>

      <div class="p-6">
        <div class="flex flex-col items-start justify-between sm:flex-row sm:items-center">
          <div>
            <p class="text-gray-400">Category • {{ j.categories }} {{ j.id }}</p>
            <h2 class="mt-2 text-lg font-semibold text-gray-800">{{ j.title }}</h2>
          </div>
        </div>

        <hr class="mt-4 mb-4" />

        <div class="flex flex-wrap justify-between" style="line-height: 36px;">
          <p class="inline-flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 stroke-orange-400" fill="none"
              viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>

            <span class="ml-2 text-gray-600">{{ j.updated_date }}</span>
            <span class="mx-2">•</span>
            <span class="text-gray-400">Last Updated</span>
          </p>
          <p class="inline-flex items-center text-gray-600">
            <button onclick="get_blog('{{ j.id }}')"
              class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-500 to-pink-500 group-hover:from-purple-500 group-hover:to-pink-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800">

              <a href="{% url 'view_blog' pk=j.id %}"
                class="button button--aylen px-5 py-3 bg-gray-800 hover:bg-gray-700 hover:text-white relative block focus:outline-none border-2 border-solid rounded-lg text-sm text-center font-semibold uppercase tracking-widest overflow-hidden">
                View
              </a>
            </button>
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% endblock content %}

{% block script %}
<script>
  function get_blog(id) {
    location.href = "view_blog/" + id;
  }
</script>
{% endblock script %}
