{% extends 'student/adminbase.html' %}
{% block content %}
<div class="bg-white rounded-lg shadow-lg p-6" style="margin: 20px;">
    <h1 class="text-2xl font-bold mb-4">Departments</h1>
    <ul class="list-disc pl-6">
      {% for department in departments %}
        <li><a href="{% url 'department_detail' pk=department.pk %}" class="text-blue-500 hover:underline">{{ department.name }}</a></li>
      {% empty %}
        <li>No departments yet.</li>
      {% endfor %}
    </ul>
    <button  style="background-color: #4299E1; border: none;" class="bg-#5297FF hover:bg-blue-600 text-white font-bold py-2 px-4 rounded" onclick="window.location.href='{% url 'department_create' %}'">
        Create new department
      </button>
      
  </div>
  
{% endblock %}
