<html>

<head>
    <link rel="stylesheet"
        href="https://horizon-tailwind-react-git-tailwind-components-horizon-ui.vercel.app/static/css/main.ad49aa9b.css" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <div
        class="flex h-screen flex-col items-center justify-center space-y-6 bg-gray-100 px-4 sm:flex-row sm:space-x-6 sm:space-y-0">
        <div style="display: flex;flex-direction: column;align-content: center;align-items: center;"
            class="w-full max-w-sm overflow-hidden rounded-lg bg-white shadow-md duration-300 hover:scale-105 hover:shadow-xl">
            <img style="width: 123px;" src="https://media.istockphoto.com/id/1214857021/vector/design-of-red-wrong-mark-grunge-letter-x-red-cross-sign-hand-drawn-illustration-isolated-on.jpg?s=612x612&w=0&k=20&c=pqaUcFWum66tpXg6hNXNypvlkg7NfbCvbVVu3Y8bQjQ=">
            <h1 class="mt-2 text-center text-2xl font-bold text-gray-500">Error Occured</h1>
            <p class="my-4 text-center text-sm text-gray-500">User Does not Exist..!</p>
            <div class="space-x-4 bg-gray-100 py-4 text-center" style="    display: flex;justify-content: center;align-content: center;flex-direction: row;">
                <button
                    class="inline-block rounded-md bg-red-500 px-10 py-2 font-semibold text-red-100 shadow-md duration-75 hover:bg-red-400"><a
                        href="{% url 'class_room' %}">Back</a></button>
                <button
                    class="inline-block rounded-md bg-green-500 px-6 py-2 font-semibold text-green-100 shadow-md duration-75 hover:bg-green-400"><a
                        href="{% url 'class_room' %}">Ok</a>
                </button>
            </div>
        </div>
</body>

</html>